.App {
  display: flex;
  height: 100%;
}

.content {
  display: flex;
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
  /* outline: 2px dashed red; */
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    /* outline: 2px dashed green; */
  }
}
