.custom-dropdown {
    float: right;
    margin-left: 1rem;
}

.custom-dropdown-menu {
    border: none !important;
    outline: none !important;
    border-radius: 1rem !important;
    box-shadow: 0 0 10px rgba(33, 33, 33, 0.6) !important;
}

.custom-dropdown-menu-item {
    border-radius: 0.5em !important;
}

.custom-dropdown-menu-item:hover {
    background: rgba(0, 0, 0, 0.1) !important;
}
