.label {
  // width: 100%;
  display: flex;
  padding: 0.3rem;
  // outline: 1px dashed blue;
  // outline: 2px dashed red;
}

.labelTitle {
  padding-left: 1rem;
  padding-bottom: 0.1rem;
  font-size: large;
  // outline: 1px solid black;

  display: flex;
  align-items: center;
}

.labelYear {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: small;
  padding-bottom: 0.45rem;
  padding-left: 1rem;
}