.resultCard {
  // width: 100%;
  display: flex;
  padding: 0.3rem;
  // outline: 1px dashed blue;
  // outline: 2px dashed red;
}
.cardText {
  padding-left: 1rem;
  padding-bottom: 0.35rem;
  font-size: large;
  // outline: 1px solid black;

  display: flex;
  align-items: center;
}