
.searchBar {
    /* outline: 4px dashed yellow; */
    display: inline-block;
    width: 100%;
}

.buttonArea {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 1rem;
    /* outline: 2px dashed green; */
}