.theme-selector {
  float: right !important;
  padding: 0.5em 1.2em !important;
  border: none !important;
  outline: none !important;
  border-radius: 2em !important;
  box-sizing: border-box !important;
  // outline: 2px dashed green;
  -webkit-appearance: none !important;
}

.theme-selector:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6) !important;
}

.theme-selector:focus {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6) !important;
}

.theme-selector-menu {
  border: none !important;
  outline: none !important;
  border-radius: 1rem !important;
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.6) !important;
}

.theme-selector-menu-item  {
  // background: none !important;
  border-radius: 0.5em !important;
}

.theme-selector-menu-item:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}